* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;

}

/* Fixed */
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: pink;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: calc(100% - 90px);
  background: blue;
}
.main-content {
  width: calc(100% - 320px);
  margin-left: 320px;
  padding: 20px;
} */

/* Float */
/* .main {
  height: calc(100% - 90px);
  overflow: hidden;
}
.main:after {
  content: '';
  display: table;
  clear: both;
}
.main-nav {
  float: left;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-content {
  float: left;
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
} */


/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background: black;
}
/* FIRST SECTION */
.main-nav-header {
  color: grey;
}
/* ul li .logo_nav_header:hover{
  border-left: 3px solid green;
} */
.first_list_nav_header:hover {
  color: white;
  border-left: 3px solid green;
  cursor: pointer;
}
.logo_spotify {
  width: 50%;
  margin: 20px;
}
.logo_nav_header {
  vertical-align: middle;
  width: 10%;
  margin: 5px 5px 5px 15px;
}
/* SECOND SECTION */
.second_section {
  margin-left: 15px;
}
#playlist_second_section {
  margin-top: 5px;
  color: white;
  font-size: 15px;
}
.crea_playlist {
  color: grey;
  font-weight: bold;
  text-decoration: none;
}
.add_playlist {
  color: grey;
  font-size: 40px;
  margin: 8px 5px 8px 0;
  vertical-align: middle;
}
.crea_playlist:hover,
.add_playlist:hover {
  color:white;
}
/* THIRD SECTION */
.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  padding-left: 15px;
}
.playlist {
  list-style: none;
  color: grey;
}
.nome_playlist {
  margin: 5px 0;
}
.nome_playlist:hover{
  color: white;
  cursor: pointer;
}
/* FORTH SECTION */
.install_app {
  color: grey;
  margin-left: 15px;
  margin-bottom: 5px;
}
.download {
  margin-right: 5px;
  margin-left: 7px;
}
.img_profile {
  vertical-align: middle;
  margin:5px 5px 5px 15px;
  border-radius: 100%;
  background-color: grey;
  width: 30px;
}
.name_profile {
  font-weight: bold;
  color: white;
  margin-top: 5px;
}
.hr_main_nav {
  width: 80%;
  margin: 0 auto;
  border-top: 2px solid grey;
}

/* START MAIN CONTENT */
.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: #121212;
  overflow-y: scroll;
}
/* DIV CALL TO ACTION */
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: white;
  padding:8px 25px;
  text-decoration:none;
  border: 2px solid white;
  border-radius: 18px;
  margin-right: 15px;
}
.btn:hover {
  font-size: 16px;
  padding:11px 28px;
  margin-right: 13px;
  border-radius: 21px;
}
/* DIV MENU TOP */
.menu_top {
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.a_menu_top {
  padding: 10px;
  font-size: 13px;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
  color: grey;
}
.a_menu_top:hover {
  color: white;
  border-bottom: 2px solid green;
}
/* DIV RECENTLY PLAYED */
.recently_played {
  margin: 20px 10px;
}
.recently_played h2 {
  color: white;
}
.img_main_content {
  display: flex;
  flex-direction:row;
  flex-grow: 0;
}
.div_img {
  min-width: calc(100%/6);
  padding: 15px;
  text-align: center;
  position: relative;
}
.div_img:hover .play_hover {
  opacity:1;
}
.div_img:hover img {
  opacity: 0.5;
}
.play_hover {
  opacity: 0;
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.div_img img {
  width: 90%;
  display: block;
  position: relative;
}
.layover {
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.div_img h3 {
  color: white;
  font-size: 15px;
  padding: 4px;
}
.div_img p {
  font-weight: bold;
  font-size: 10px;
  color: grey;
}
 /* CREATO PER JOHN DOE */
 .creat_for_john{
   margin: 20px 10px;
 }
 .creat_for_john h2{
   color: white;
 }
 .creat_for_john p {
   color: grey;
   font-weight: bold;
   font-size: 10px;
   padding-top: 5px;
 }
/* INIZIO FOOTER */
.footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.left_footer {
  display: flex;
  align-items: center;
  flex-basis: 400px;
}
.left_footer img {
  height: 40px;
  margin: 20px 10px;
}
.title_song h4 {
  color: white;
  font-size: 15px;
}
.title_song p {
  font-size: 11px;
  color: lightgrey;
}
.heart,
.folder {
  padding-left: 15px;
  color: grey;
}
.heart:hover,
.folder:hover {
  color: white;
}
/* FINE LEFT FOOTER */
.center_footer {
 text-align: center;
}
.btn_music {
  color: white;
  padding: 20px;
  font-size: 25px;
}
.btn_music:hover {
  font-size: 30px;
  padding: 15px;
}

.down_center_footer {
  display: flex;
  align-items: center;
}
.down_center_footer p {
  color: white;
  font-size: 10px;
  font-weight: bold;
}
.line_time_music {
  width: 500px;
  height: 5px;
  background-color: grey;
  border-radius: 20px;
  margin: 0 20px;

}
.small_line_time_music {
  width: 20%;
  background-color: lightgrey;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.round {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%,-50%);
  display: none;
}
.line_time_music:hover .round {
  display:block;
}
.line_time_music:hover .small_line_time_music{
  background-color: lime;
}

.right_footer {
  display: flex;
  align-items: center;

}
.line_volume {
  width: 100px;
  height: 5px;
  background-color: grey;
  border-radius: 20px;
  margin: 0 20px;
}
.icon_volume {
  color: lightgrey;
  padding: 8px;
}
.icon_volume:hover {
  color: white;
}
.line_volume:hover .round {
  display:block;
}
.line_volume:hover .small_line_time_music{
  background-color: lime;
}
@media screen and (min-width: 1279px){

}
@media screen and (max-width: 1278px) and (min-width: 968px){
  .img_main_content{
  display: flex;
  flex-wrap: wrap;
}
.div_img{
  width: calc(100%/4);
  padding: 5px;
  margin-bottom: 20px;
}
.menu_top {
  display: flex;
  flex-wrap: wrap;
}
.middle {
  width: 130px;
  height: 235px;
  top:40%;
}
/* .play_hover {
  top: 42%;
} */
.footer {
  max-width: 100%;
}
}
@media screen and (max-width: 968px){
  .img_main_content{
  display: flex;
  flex-wrap: wrap;
}
  .div_img{
    width: calc(100%/2);
}
.menu_top {
  display: flex;
  flex-wrap: wrap;
}
}
